- year,month,day: Date of departure
- dep_time,arr_time: Departure and arrival times, local tz.
- dep_delay,arr_delay: Departure and arrival delays, in minutes. Negative times represent early departures/arrivals.
- hour,minute : Time of departure broken in to hour and minutes
- carrier: Two letter carrier abbreviation
- tailnum: Plane tail number
- flight: Flight number
- origin,dest: Origin and destination.
- air_time: Amount of time spent in the air
- distance: Distance flown

In [1]:
import pandas as pd

#https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [3]:
# Lendo o dataframe
df = pd.read_csv("https://raw.githubusercontent.com/JackyP/testing/master/datasets/nycflights.csv", index_col=0)
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

## Explorando as caracter√≠sticas do dataframe

In [7]:
df.shape

(336776, 16)

In [8]:
df.columns

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'tailnum', 'flight', 'origin', 'dest',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

In [9]:
df.dtypes

year           int64
month          int64
day            int64
dep_time     float64
dep_delay    float64
arr_time     float64
arr_delay    float64
carrier       object
tailnum       object
flight         int64
origin        object
dest          object
air_time     float64
distance       int64
hour         float64
minute       float64
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 336776 entries, 1 to 336776
Data columns (total 16 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       336776 non-null  int64
 1   month      336776 non-null  int64
 2   day        336776 non-null  int64
 3   dep_time   328521 non-null  float64
 4   dep_delay  328521 non-null  float64
 5   arr_time   328063 non-null  float64
 6   arr_delay  327346 non-null  float64
 7   carrier    336776 non-null  object
 8   tailnum    334264 non-null  object
 9   flight     336776 non-null  int64
 10  origin     336776 non-null  object
 11  dest       336776 non-null  object
 12  air_time   327346 non-null  float64
 13  distance   336776 non-null  int64
 14  hour       328521 non-null  float64
 15  minute     328521 non-null  float64
dtypes: float64(7), int64(5), object(4)
memory usage: 43.7+ MB

In [12]:
df["year"].unique()

array([2013], dtype=int64)

In [16]:
list(df.select_dtypes(include="object"))

['carrier', 'tailnum', 'flight', 'origin', 'dest']

In [17]:
df["flight"] = df["flight"].astype("object")

In [18]:
for coluna in list(df.select_dtypes(include="object"))+['year', 'day', 'month']:
    print(f"{coluna}: {df[coluna].unique()}")

carrier: ['UA' 'AA' 'B6' 'DL' 'EV' 'MQ' 'US' 'WN' 'VX' 'FL' 'AS' '9E' 'F9' 'HA'
 'YV' 'OO']
tailnum: ['N14228' 'N24211' 'N619AA' ... 'N776SK' 'N785SK' 'N557AS']
flight: ['1545' '1714' '1141' ... '3583' '3857' '3539']
origin: ['EWR' 'LGA' 'JFK']
dest: ['IAH' 'MIA' 'BQN' 'ATL' 'ORD' 'FLL' 'IAD' 'MCO' 'PBI' 'TPA' 'LAX' 'SFO'
 'DFW' 'BOS' 'LAS' 'MSP' 'DTW' 'RSW' 'SJU' 'PHX' 'BWI' 'CLT' 'BUF' 'DEN'
 'SNA' 'MSY' 'SLC' 'XNA' 'MKE' 'SEA' 'ROC' 'SYR' 'SRQ' 'RDU' 'CMH' 'JAX'
 'CHS' 'MEM' 'PIT' 'SAN' 'DCA' 'CLE' 'STL' 'MYR' 'JAC' 'MDW' 'HNL' 'BNA'
 'AUS' 'BTV' 'PHL' 'STT' 'EGE' 'AVL' 'PWM' 'IND' 'SAV' 'CAK' 'HOU' 'LGB'
 'DAY' 'ALB' 'BDL' 'MHT' 'MSN' 'GSO' 'CVG' 'BUR' 'RIC' 'GSP' 'GRR' 'MCI'
 'ORF' 'SAT' 'SDF' 'PDX' 'SJC' 'OMA' 'CRW' 'OAK' 'SMF' 'TUL' 'TYS' 'OKC'
 'PVD' 'DSM' 'PSE' 'BHM' 'CAE' 'HDN' 'BZN' 'MTJ' 'EYW' 'PSP' 'ACK' 'BGR'
 'ABQ' 'ILM' 'MVY' 'SBN' 'LEX' 'CHO' 'TVC' 'ANC' 'LGA']
year: [2013]
day: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
month: [ 1 10 11 12  2  3  4  5  6  7  8  9]

## Slice & Filtros
√â utilizado quando o objetivo √© selecionar uma parte do dataframe atrav√©s de colunas ou linhas, sem nenhum tipo de condicional. 
As formas mais recomendadas para este cen√°rio s√£o o loc e iloc
- loc() ‚Üí labels das linhas e colunas
- iloc() ‚Üí index das linhas e colunas

Documenta√ß√£o oficial: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [20]:
# Index e Label
df2 = df.set_index(['month', "day"])
df2.head()

           year  dep_time  dep_delay  arr_time  arr_delay carrier tailnum  \
month day
1     1    2013     517.0        2.0     830.0       11.0      UA  N14228
      1    2013     533.0        4.0     850.0       20.0      UA  N24211
      1    2013     542.0        2.0     923.0       33.0      AA  N619AA
      1    2013     544.0       -1.0    1004.0      -18.0      B6  N804JB
      1    2013     554.0       -6.0     812.0      -25.0      DL  N668DN

          flight origin dest  air_time  distance  hour  minute
month day
1     1     1545    EWR  IAH     227.0      1400   5.0    17.0
      1     1714    LGA  IAH     227.0      1416   5.0    33.0
      1     1141    JFK  MIA     160.0      1089   5.0    42.0
      1      725    JFK  BQN     183.0      1576   5.0    44.0
      1      461    LGA  ATL     116.0       762   5.0    54.0

In [21]:
df2.columns

Index(['year', 'dep_time', 'dep_delay', 'arr_time', 'arr_delay', 'carrier',
       'tailnum', 'flight', 'origin', 'dest', 'air_time', 'distance', 'hour',
       'minute'],
      dtype='object')

In [35]:
# loc
df.loc[1]

year           2013
month             1
day               1
dep_time      517.0
dep_delay       2.0
arr_time      830.0
arr_delay      11.0
carrier          UA
tailnum      N14228
flight         1545
origin          EWR
dest            IAH
air_time      227.0
distance       1400
hour            5.0
minute         17.0
Name: 1, dtype: object

In [28]:
df.loc[: ,["distance", "dest"]]

        distance dest
1           1400  IAH
2           1416  IAH
3           1089  MIA
4           1576  BQN
5            762  ATL
...          ...  ...
336772       213  DCA
336773       198  SYR
336774       764  BNA
336775       419  CLE
336776       431  RDU

[336776 rows x 2 columns]

In [30]:
df2.loc[1, "distance"]

C:\Users\Carolina Zambelli\AppData\Local\Temp\ipykernel_8592\608162386.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[1, "distance"]

day
1     1400
1     1416
1     1089
1     1576
1      762
      ...
31     431
31     762
31     419
31    1416
31    1416
Name: distance, Length: 27004, dtype: int64

In [32]:
df2.loc[[(1,2),(1,3)], "distance"]

month  day
1      2      1598
       2       209
       2       529
       2      1400
       2      1089
              ...
       3      1389
       3       888
       3      1020
       3      1085
       3      1372
Name: distance, Length: 1857, dtype: int64

In [36]:
# iloc
df.iloc[0]

year           2013
month             1
day               1
dep_time      517.0
dep_delay       2.0
arr_time      830.0
arr_delay      11.0
carrier          UA
tailnum      N14228
flight         1545
origin          EWR
dest            IAH
air_time      227.0
distance       1400
hour            5.0
minute         17.0
Name: 1, dtype: object

In [41]:
df.iloc[0,[1,2]]

month    1
day      1
Name: 1, dtype: object

In [42]:
# condicionais com loc
df.loc[df["origin"]=="JFK"]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
11,2013,1,1,558.0,-2.0,849.0,-2.0,B6,N793JB,49,JFK,PBI,149.0,1028,5.0,58.0
12,2013,1,1,558.0,-2.0,853.0,-3.0,B6,N657JB,71,JFK,TPA,158.0,1005,5.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336767,2013,9,30,2240.0,-10.0,2347.0,-20.0,B6,N281JB,2002,JFK,BUF,52.0,301,22.0,40.0
336768,2013,9,30,2241.0,-5.0,2345.0,-16.0,B6,N346JB,486,JFK,ROC,47.0,264,22.0,41.0
336769,2013,9,30,2307.0,12.0,2359.0,1.0,B6,N565JB,718,JFK,BOS,33.0,187,23.0,7.0
336770,2013,9,30,2349.0,-10.0,325.0,-25.0,B6,N516JB,745,JFK,PSE,196.0,1617,23.0,49.0
336772,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3393,JFK,DCA,NaN,213,NaN,NaN

In [43]:
# condicionais sem loc
df[df["origin"]=="JFK"]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
11,2013,1,1,558.0,-2.0,849.0,-2.0,B6,N793JB,49,JFK,PBI,149.0,1028,5.0,58.0
12,2013,1,1,558.0,-2.0,853.0,-3.0,B6,N657JB,71,JFK,TPA,158.0,1005,5.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336767,2013,9,30,2240.0,-10.0,2347.0,-20.0,B6,N281JB,2002,JFK,BUF,52.0,301,22.0,40.0
336768,2013,9,30,2241.0,-5.0,2345.0,-16.0,B6,N346JB,486,JFK,ROC,47.0,264,22.0,41.0
336769,2013,9,30,2307.0,12.0,2359.0,1.0,B6,N565JB,718,JFK,BOS,33.0,187,23.0,7.0
336770,2013,9,30,2349.0,-10.0,325.0,-25.0,B6,N516JB,745,JFK,PSE,196.0,1617,23.0,49.0
336772,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3393,JFK,DCA,NaN,213,NaN,NaN

In [44]:
df.loc[(df["origin"] == "JFK") & (df["carrier"] == "B6")]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
11,2013,1,1,558.0,-2.0,849.0,-2.0,B6,N793JB,49,JFK,PBI,149.0,1028,5.0,58.0
12,2013,1,1,558.0,-2.0,853.0,-3.0,B6,N657JB,71,JFK,TPA,158.0,1005,5.0,58.0
16,2013,1,1,559.0,0.0,702.0,-4.0,B6,N708JB,1806,JFK,BOS,44.0,187,5.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336766,2013,9,30,2240.0,-5.0,2334.0,-17.0,B6,N354JB,1816,JFK,SYR,41.0,209,22.0,40.0
336767,2013,9,30,2240.0,-10.0,2347.0,-20.0,B6,N281JB,2002,JFK,BUF,52.0,301,22.0,40.0
336768,2013,9,30,2241.0,-5.0,2345.0,-16.0,B6,N346JB,486,JFK,ROC,47.0,264,22.0,41.0
336769,2013,9,30,2307.0,12.0,2359.0,1.0,B6,N565JB,718,JFK,BOS,33.0,187,23.0,7.0
336770,2013,9,30,2349.0,-10.0,325.0,-25.0,B6,N516JB,745,JFK,PSE,196.0,1617,23.0,49.0

In [46]:
# condicionais com iloc
df.loc[df["day"] == 1].iloc[:, 2:]

,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
2,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
3,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
4,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
5,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309916,1,2302.0,-3.0,8.0,-5.0,B6,N629JB,718,JFK,BOS,42.0,187,23.0,2.0
309917,1,2329.0,44.0,40.0,39.0,B6,N373JB,234,JFK,BTV,48.0,266,23.0,29.0
309918,1,2351.0,-8.0,335.0,-15.0,B6,N588JB,745,JFK,PSE,204.0,1617,23.0,51.0
309919,1,2352.0,-7.0,323.0,-21.0,B6,N768JB,1503,JFK,SJU,196.0,1598,23.0,52.0
309920,1,NaN,NaN,NaN,NaN,9E,NaN,3920,LGA,ROC,NaN,254,NaN,NaN

In [47]:
# where
df.where(df["distance"] > 1000)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013.0,1.0,1.0,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400.0,5.0,17.0
2,2013.0,1.0,1.0,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416.0,5.0,33.0
3,2013.0,1.0,1.0,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089.0,5.0,42.0
4,2013.0,1.0,1.0,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576.0,5.0,44.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
#np where
import numpy as np

np.where(df["distance"] > 1000)

(array([     0,      1,      2, ..., 336754, 336762, 336769], dtype=int64),)

## Opera√ß√µes

Opera√ß√µes em colunas **sem** condicionais de observa√ß√£o (linha)

In [52]:
df['air_time']/60

1         3.783333
2         3.783333
3         2.666667
4         3.050000
5         1.933333
            ...
336772         NaN
336773         NaN
336774         NaN
336775         NaN
336776         NaN
Name: air_time, Length: 336776, dtype: float64

In [53]:
df["origin"]+"-"+df["dest"]

1         EWR-IAH
2         LGA-IAH
3         JFK-MIA
4         JFK-BQN
5         LGA-ATL
           ...
336772    JFK-DCA
336773    LGA-SYR
336774    LGA-BNA
336775    LGA-CLE
336776    LGA-RDU
Length: 336776, dtype: object

In [57]:
df["arr_delay"].mode()

0   -13.0
Name: arr_delay, dtype: float64

Opera√ß√µes em colunas **com** condicionais de observa√ß√£o (linha)

In [60]:
df["flg_arr_delay"] = np.where(df["arr_delay"] > 0, True, False)

In [61]:
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,flg_arr_delay
1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0,True
2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0,True
3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0,True
4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0,False
5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0,False

In [62]:
def hor_verao(df):
    if df["month"] == 1:
        return df["hour"]+ 1
    else:
        return df["hour"]

In [63]:
df.apply(hor_verao, axis=1)

1         6.0
2         6.0
3         6.0
4         6.0
5         6.0
         ...
336772    NaN
336773    NaN
336774    NaN
336775    NaN
336776    NaN
Length: 336776, dtype: float64

In [64]:
df.apply(lambda x: x["hour"]+1 if x["month"] == 1 else x["hour"], axis=1)

1         6.0
2         6.0
3         6.0
4         6.0
5         6.0
         ...
336772    NaN
336773    NaN
336774    NaN
336775    NaN
336776    NaN
Length: 336776, dtype: float64

In [66]:
np.where(df["month"] == 1, df["hour"]+1, df["hour"])

array([ 6.,  6.,  6., ..., nan, nan, nan])

In [70]:
def hor_verao(df, mes):
    if df["month"] == mes:
        return df["hour"]+1
    else:
        return df["hour"]

In [71]:
df.apply(hor_verao, args = (1,), axis=1)

1         6.0
2         6.0
3         6.0
4         6.0
5         6.0
         ...
336772    NaN
336773    NaN
336774    NaN
336775    NaN
336776    NaN
Length: 336776, dtype: float64

## Combinando datasets

Existem duas fun√ß√µes principais, o *join()* e o *merge()*.

A principal diferen√ßa entre *join* e *merge* √© que o *join()* √© usado para combinar dois DataFrames pelo √≠ndice, mas n√£o em colunas, enquanto *merge()* √© usado principalmente para especificar as colunas que voc√™ deseja unir.

https://pandas.pydata.org/docs/reference/api/pandas.merge.html

In [72]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

In [73]:
df1

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [74]:
df2

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [75]:
pd.merge(df1, df2)

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [76]:
pd.concat([df1, df2])

  employee        group  hire_date
0      Bob   Accounting        NaN
1     Jake  Engineering        NaN
2     Lisa  Engineering        NaN
3      Sue           HR        NaN
0     Lisa          NaN     2004.0
1      Bob          NaN     2008.0
2     Jake          NaN     2012.0
3      Sue          NaN     2014.0

In [77]:
pd.concat([df1, df2], axis=1)

  employee        group employee  hire_date
0      Bob   Accounting     Lisa       2004
1     Jake  Engineering      Bob       2008
2     Lisa  Engineering     Jake       2012
3      Sue           HR      Sue       2014

## Agrupando informa√ß√µes

In [78]:
# M√©dia de atrasos por companhia
df.groupby("carrier")["arr_delay"].mean()

carrier
9E     7.379669
AA     0.364291
AS    -9.930889
B6     9.457973
DL     1.644341
EV    15.796431
F9    21.920705
FL    20.115906
HA    -6.915205
MQ    10.774733
OO    11.931034
UA     3.558011
US     2.129595
VX     1.764464
WN     9.649120
YV    15.556985
Name: arr_delay, dtype: float64

In [83]:
# M√©dia de tempo v√¥o por companhia
df.groupby("carrier")["air_time"].mean()

carrier
9E     86.781601
AA    188.822299
AS    325.617772
B6    151.177173
DL    173.688804
EV     90.076192
F9    229.599119
FL    101.143937
HA    623.087719
MQ     91.180253
OO     83.482759
UA    211.791354
US     88.573799
VX    337.002346
WN    147.824809
YV     65.740809
Name: air_time, dtype: float64

In [80]:
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,flg_arr_delay
1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0,True
2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0,True
3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0,True
4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0,False
5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0,False

In [81]:
# Quantidade de atrasos na partida em 2013 por companhia
df.groupby("carrier")["flg_arr_delay"].count()

carrier
9E    18460
AA    32729
AS      714
B6    54635
DL    48110
EV    54173
F9      685
FL     3260
HA      342
MQ    26397
OO       32
UA    58665
US    20536
VX     5162
WN    12275
YV      601
Name: flg_arr_delay, dtype: int64

In [90]:
df.groupby("carrier")["flg_arr_delay"].count().reset_index().sort_values(by=['flg_arr_delay'])#, ascending=False)

   carrier  flg_arr_delay
10      OO             32
8       HA            342
15      YV            601
6       F9            685
2       AS            714
7       FL           3260
13      VX           5162
14      WN          12275
0       9E          18460
12      US          20536
9       MQ          26397
1       AA          32729
4       DL          48110
5       EV          54173
3       B6          54635
11      UA          58665

In [85]:
# Construindo dimensao companhia aerea
d1 = df.groupby("carrier")["arr_delay"].mean().reset_index()
d2 = df.groupby("carrier")["air_time"].mean().reset_index()
df_final =pd.merge(d1, d2)

In [87]:
df_final.columns = ["carrier", "media_atraso", "media_tempo_voo"]
df_final

   carrier  media_atraso  media_tempo_voo
0       9E      7.379669        86.781601
1       AA      0.364291       188.822299
2       AS     -9.930889       325.617772
3       B6      9.457973       151.177173
4       DL      1.644341       173.688804
5       EV     15.796431        90.076192
6       F9     21.920705       229.599119
7       FL     20.115906       101.143937
8       HA     -6.915205       623.087719
9       MQ     10.774733        91.180253
10      OO     11.931034        83.482759
11      UA      3.558011       211.791354
12      US      2.129595        88.573799
13      VX      1.764464       337.002346
14      WN      9.649120       147.824809
15      YV     15.556985        65.740809